
@if (Results != null)
{
    <TableHolder ColumnNames="TableTitle">
        @foreach (LineAssembleResult res in Results.Distinct())
        {

            @foreach (Register r in res.RegistersChanged.Distinct())
            {
                <TableItem>
                    <TableValue>@(r.Name)</TableValue>
                    <TableValue>@(r.Value)</TableValue>
                    <TableValue>@(r.Hex)</TableValue>
                    <TableValue>Register</TableValue>

                </TableItem>
            }
            @foreach (Memory m in res.MemoriesChanged.Distinct())
            {
                <TableItem>
                    <TableValue>@(Array.IndexOf(I8085.Memory, m))</TableValue>
                    <TableValue>@(m.Data)</TableValue>
                    <TableValue>@(m.Hex)</TableValue>
                    <TableValue>Memory</TableValue>

                </TableItem>
            }

        }
    </TableHolder>
}
else
{
    <p>Currently Data Stack is Empty</p>
}
@code
{
    private string[] TableTitle = new string[] {"Location","Value","Value(Hex)","Type"};
    [Parameter]
    public List<LineAssembleResult> Results { get; set; }
    public void Refresh()
    {
        StateHasChanged();
    }
}